<h2 mat-dialog-title><mat-icon>email</mat-icon> Envoi d'un mail</h2>
<mat-dialog-content>
    <form [formGroup]="mailForm">
        <mat-form-field>
            <mat-label>Emetteur</mat-label>
            <input type="email" matInput placeholder="E-mail de l'émetteur" id="emetteur" formControlName="emetteur" required>
            <mat-hint align="end">Email de l'émetteur (au format nom@societe.com)</mat-hint>
            <mat-error *ngIf="emetteur?.errors?.required">Le mail est obligatoire.</mat-error>
            <mat-error *ngIf="emetteur?.errors?.pattern">Le mail n'est pas au bon format.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Destinataires</mat-label>
            <input type="email" matInput placeholder="E-mails des destinataires" id="destinataires" formControlName="destinataires" required>
            <mat-hint align="end">Email des destinataires (même format séparé par des ';')</mat-hint>
            <mat-error *ngIf="destinataires?.errors?.required">Au moins un mail obligatoire.</mat-error>
            <mat-error *ngIf="destinataires?.errors?.pattern">Erreur de format.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Sujet</mat-label>
            <input matInput placeholder="Sujet du mail" id="sujet" formControlName="sujet" required cdkFocusInitial>
            <mat-hint align="end">Sujet du mail</mat-hint>
            <mat-error *ngIf="sujet?.errors?.required">Le sujet est obligatoire.</mat-error>
            <mat-error *ngIf="sujet?.errors?.minlength">Le sujet doit être d'au moins 5 caractères.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contenu</mat-label>
            <textarea matInput id="contenu" formControlName="contenu" required></textarea>
            <mat-hint align="end">Contenu libre du mail (aucun format accepté juste du texte)</mat-hint>
            <mat-error *ngIf="contenu?.errors?.required">Le contenu du mail est obligatoire.</mat-error>
            <mat-error *ngIf="contenu?.errors?.minlength">Le contenu doit être d'au moins 5 caractères.</mat-error>
        </mat-form-field>
    </form>
    <mat-card appearance="outlined" class="card-box">
        <mat-card-content *ngIf="nbFiles()>0">
            <div class="piece-attached">
                <span class="loaded" *ngFor="let pieceLoaded of mailPiecesLoaded | keyvalue">
                    <span><mat-icon>{{pieceLoaded.value.piece.codeIcone}}</mat-icon></span>
                    <span>{{pieceLoaded.value.piece.description}}</span>
                    <span><mat-icon color="warn" (click)="detachFile(pieceLoaded.value.piece)">delete</mat-icon></span>
                </span>
                <span class="unloaded" *ngFor="let piece of mailPieces">
                    <span><mat-icon>{{piece.codeIcone}}</mat-icon></span>
                    <span>{{piece.description}}</span>
                    <span><mat-icon color="warn" (click)="detachFile(piece)">delete</mat-icon></span>
                </span>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <mat-progress-bar *ngIf="mailPieces.length>0" color="primary" mode="indeterminate"></mat-progress-bar> 
            <button color="primary" *ngIf="mailPieces.length==0" mat-flat-button (click)="attachFile()" ><mat-icon>attach_file</mat-icon>Ajouter</button>
        </mat-card-actions>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button color="primary" mat-flat-button (click)="sendMail()" [mat-dialog-close]="true" [disabled]="!mailForm.valid || mailService.isLoading || mailPieces.length>0">Envoyer</button>
    <button color="warn" mat-flat-button [mat-dialog-close]="false">Annuler</button>
</mat-dialog-actions>