<mat-toolbar color="primary" class="primary-darker sticky-toolbar no-print">
    <button mat-icon-button (click)="goBack()"><mat-icon>chevron_left</mat-icon></button>
    <mat-icon>assignment</mat-icon>
    <span>Fiche descriptive de bail</span>
    <span class="flex"></span>
    <button mat-icon-button [matMenuTriggerFor]="menuListe">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuListe="matMenu" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="'/bail/'+bail.id"><mat-icon>edit</mat-icon> Modifier</button>
        <button mat-menu-item [routerLink]="'/bail/new'"><mat-icon>add</mat-icon> Nouveau</button>
        <button mat-menu-item (click)="printFiche()"><mat-icon>print</mat-icon> Imprimer</button>
    </mat-menu>
</mat-toolbar>

<div id="fiche" #fiche>
    <mat-card appearance="outlined" class="card-box">
        <mat-card-header>
            <div mat-card-avatar class="avatar-letter"><mat-icon>assignment</mat-icon></div>
            <mat-card-title><mat-icon>key</mat-icon>{{bail.bien.nom}}<mat-icon>multiple_stop</mat-icon>{{bail.locataire.nom}}<mat-icon>people</mat-icon></mat-card-title>
            <mat-card-subtitle>Bail de location <ng-container *ngIf="bail.dateFin">in</ng-container>actif</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>date_range</mat-icon>
                    <span matListItemTitle>Date entrée<ng-container *ngIf="bail.dateFin">/sortie</ng-container></span>
                    <span matListItemMeta>
                        <span>{{bail.dateDebut| date:'longDate':'fr-FR'}}</span>
                        <span *ngIf="bail.dateFin">&nbsp;-&nbsp;{{bail.dateFin| date:'longDate':'fr-FR'}}</span>
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>event_repeat</mat-icon>
                    <div matListItemTitle>Durée minimum</div>
                    <span matListItemMeta>{{bail.duree}} ans</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>euro_symbol</mat-icon>
                    <div matListItemTitle>Montant loyer</div>
                    <span matListItemMeta>{{(bail.loyer)| currency:'EUR':'symbol':'1.0-0'}} + {{(bail.charges)| currency:'EUR':'symbol':'1.0-0'}}</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>edit_calendar</mat-icon>
                    <div matListItemTitle>Révision loyer</div>
                    <span matListItemMeta>{{bail.dateRevisionLoyer| date:'longDate':'fr-FR'}}</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>receipt_long</mat-icon>
                    <div matListItemTitle>Date paiement</div>
                    <span matListItemMeta>{{bailPeriodePaiements[bail.paiementPeriodicite]}} - {{bail.paiementDate| date:'d':'fr-FR' }} du mois</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>payments</mat-icon>
                    <div matListItemTitle>Type paiement</div>
                    <span matListItemMeta>{{bailTermePaiements[bail.paiementTerme]}} ({{bailTypePaiements[bail.paiementType]}})</span>
                </mat-list-item>
                <mat-list-item *ngIf="bail.commentaire">
                    <mat-icon matListItemIcon>feed</mat-icon>
                    <div matListItemTitle>Commentaires</div>
                    <span matListItemLine [innerHTML]="bail.commentaireHTML"></span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <app-events-fiche [gravite]="0" [container]="bail"></app-events-fiche>

    <mat-card appearance="outlined" class="card-box">
        <mat-card-header>
            <div mat-card-avatar class="avatar-letter">{{bail.bien.nom[0]}}</div>
            <mat-card-title>{{bail.bien.nom}}</mat-card-title>
            <mat-card-subtitle>{{bienType[bail.bien.type]}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>location_on</mat-icon>
                    <div matListItemTitle>Adresse</div>
                    <span matListItemMeta [innerHTML]="bail.bien.adresseHTML"></span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>expand</mat-icon>
                    <div matListItemTitle>Surface</div>
                    <span matListItemMeta>{{bail.bien.surface}} m²</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>auto_awesome_mosaic</mat-icon>
                    <div matListItemTitle>Nombre de pièces</div>
                    <span matListItemMeta>{{bail.bien.nbPieces}}</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>local_parking</mat-icon>
                    <div matListItemTitle>Parking</div>
                    <span matListItemMeta>{{bail.bien.parking}}</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions class="no-print">
            <button mat-icon-button color="accent" routerLink="/fiche/bien/{{bail.bien.id}}" ><mat-icon>visibility</mat-icon> </button>
            <button mat-icon-button color="accent" routerLink="/bien/{{bail.bien.id}}" ><mat-icon>edit</mat-icon> </button>
        </mat-card-actions>
    </mat-card>

    <mat-card appearance="outlined" class="card-box">
        <mat-card-header>
            <div mat-card-avatar class="avatar-letter">{{bail.locataire.nom[0]}}</div>
            <mat-card-title>{{bail.locataire.nom}}</mat-card-title>
            <mat-card-subtitle>Locataire</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>mail</mat-icon>
                    <div matListItemTitle>E-mail</div>
                    <span matListItemMeta>{{bail.locataire.mail}}</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>phone</mat-icon>
                    <div matListItemTitle>Téléphone</div>
                    <span matListItemMeta>{{bail.locataire.telephone}}</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions class="no-print">
            <button mat-icon-button color="accent" routerLink="/fiche/locataire/{{bail.locataire.id}}" ><mat-icon>visibility</mat-icon> </button>
            <button mat-icon-button color="accent" routerLink="/locataire/{{bail.locataire.id}}" ><mat-icon>edit</mat-icon> </button>
            <button mat-icon-button color="accent" (click)="contact(bail.locataire.mail)"><mat-icon>email</mat-icon> </button>
        </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined" class="card-box no-print">
        <mat-card-header>
            <div mat-card-avatar class="avatar-letter"><mat-icon>receipt_long</mat-icon></div>
            <mat-card-title>Quittances</mat-card-title>
            <mat-card-subtitle>Quittances du bail</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-statistiques-bails [bail]="bail" [simple]="true"></app-statistiques-bails>
            <table mat-table [dataSource]="dataSource" class="full-width-table" matSort matSortActive="date" matSortDirection="desc">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let row">{{row.date| date:'yyyy-MM-dd' }}</td>
                </ng-container>
                <ng-container matColumnDef="libelle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</th>
                    <td mat-cell *matCellDef="let row">{{row.libelle}}</td>
                </ng-container>
                <ng-container matColumnDef="montant">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Montant</th>
                    <td mat-cell *matCellDef="let row">{{row.montant| currency:'EUR':'symbol':'1.2-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="quittance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Quittance</th>
                    <td mat-cell *matCellDef="let row"><a (click)="scroll(row.quittance.id)">{{row.quittance.nom}}</a></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="centered-cell mat-cell" [attr.colspan]="displayedColumns.length"><mat-icon>sentiment_very_dissatisfied</mat-icon> Aucun résultat à afficher</td>
                </tr>
            </table>
            <mat-paginator #paginator
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[10, 20, 50]"
                showFirstLastButtons>
            </mat-paginator>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="accent" routerLink="/mouvements" ><mat-icon>edit</mat-icon> </button>
        </mat-card-actions>
    </mat-card>

    <app-pieces-jointes-fiche [container]="bail" [pieceSpecific]="'BAIL_QUIT'" [piecesObligatoires]="piecesObligatoires"></app-pieces-jointes-fiche>
</div>