#fiche{
    width:90%;
    max-width:900px;
    margin:0px auto 5px auto;
}
.card-box{
    margin:15px 0;
    border: 1px solid #DDD;
}
mat-card-title mat-icon{
    vertical-align: middle;
}
.avatar-letter{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    background: #4285f4;
    line-height: 1.750;
}
.mdc-list-item--with-one-line{
    height:44px!important;
}
.mdc-list-item__end{
    font-size: 1em;
}
.mat-icon-meta{
    vertical-align: middle;
    margin-right: 5px;
}
mat-card-actions {
    position: absolute;
    right: 0;
    top: 5px;
    margin:0;
    padding:0;
}
table a{
    cursor: pointer;
}