.configuration-form{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.configuration-form mat-form-field{
    flex: 5 1 200px;
}
.configuration-form ::ng-deep .mat-mdc-form-field-subscript-wrapper{
    display: none;
}
 .configuration-form button{
    border-radius: 0;
    flex: 1;
    height: auto;
    min-height: 48px;
 }
table{
    margin: 5px auto 0;
}
table td{
    width: 150px;
    text-align:center;
}
table td:first-child{
    text-align:right;
    width: auto;
}
table td:last-child{
    width: 70px;
    font-size:0.9em;
    font-style:italic;
    font-weight:100;
    color:#000;
}
.main-category{
    font-weight:700;
    background: rgb(91,155,213);
    color:white;
}
.sub-category{
    font-weight:500;
    background: rgb(189,215,238);
}
.main-category.in{
    background: #4caf50
}
.sub-category.in{
    background: #a5d6a7
}
.main-category.out{
    background:#f44336
}
.sub-category.out{
    background:#ef9a9a
}
.main-category.regul{
    background: #999
}
.sub-category.regul{
    background: #ccc
}
td.details-category{
    border-bottom: 1px dotted #aaa;
    background: #EEEC;
}
.result{
    position: relative;
}
.result > button{
    position: absolute;
    top: 10px;
    right: 10px;
}
.result input{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}
.mat-mdc-form-field {
    width: 120px;
}
.regul ::ng-deep .mat-mdc-form-field-subscript-wrapper{
    display: none;
}
#no-impot{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-family: 'Unica One', cursive;
    margin-top: 15px;
}
#no-impot > mat-icon {
    font-size: 50px;
    flex: 1;
    width: 100%;
}
.mat-icon{
    vertical-align: middle;
}