.filter-box{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter-box mat-form-field{
    flex: 5 1 200px;
}
.filter-box ::ng-deep .mat-mdc-form-field-subscript-wrapper{
    display: none;
}
.filter-box button{
    border-radius: 0;
    flex: 1;
    height: auto;
    min-height: 48px;
}
.responsive{
    width: 100%;
    overflow: auto hidden;
}
table{
    min-width:1220px;
}
table td:nth-child(3){
    width:220px;
}
table td:nth-child(4),
table td:nth-child(5){
    width:160px;
}
table td:nth-child(6){
    width:140px;
}
table td:nth-child(6) mat-icon{
    font-size: 21px;
    margin-left: -3px!important;
    opacity: 0.8;
    vertical-align: middle;
}