<mat-toolbar color="primary" class="primary-darker sticky-toolbar">
    <mat-icon>info</mat-icon>
    <span> Conditions d'utilisation</span>
</mat-toolbar>

<div>
    <h1>Définitions</h1>
    <p><b>Version et date des conditions applicables</b> : 0.0.4 (19/01/2023)</p>
    <p><b>Pays d'application</b> : France</p>

    <h1>Description du produit</h1>

    <h2>Détails du produit fourni</h2>
    <p>Le produit fourni consiste en une application de gestion de biens immobiliers en location.</p>
    <p>Il s'agit d'une application utilisable par le biais d'un navigateur web compatible des technologies suivantes :</p>
    <ul>
        <li>Angular 15.0</li>
        <li>Angular Material 15.0</li>
        <li>Google API</li>
        <li>Google Identification Service</li>
    </ul>
    <p>Le logiciel est fourni "tel quel", sans garantie d'aucune sorte, expresse ou implicite, y compris, mais sans s'y limiter, les garanties de qualité marchande, d'adéquation à un usage particulier et de non-violation.</p>
    <p>En aucun cas, les auteurs ou les détenteurs de droits d'auteur ne pourront être tenus responsables de toute réclamation, de tout dommage ou de toute autre responsabilité, que ce soit dans le cadre d'une action contractuelle, délictuelle ou autre, découlant de ou liée au logiciel ou à son utilisation ou à d'autres transactions.</p>

    <h2>Droits nécessaires</h2>
    <p>Pour pouvoir utiliser le produit il vous est nécessaire de disposer d'un compte Google pleinement fonctionnel sur les services Google suivants :</p>
    <ul>
        <li>Google Drive (<a href="https://drive.google.com/">https://drive.google.com/</a>)</li>
        <li>Google GMail (<a href="https://mail.google.com/">https://mail.google.com/</a>)</li>
    </ul>
    <p>L'auteur n'est en aucune mesure responsable des données ou de l'usage que vous faite de votre compte Google et des services utilisés.</p>
    <p>Le service Google Drive est utilisé pour stocker vos données d'utilisation de l'application.</p>
    <p>Le service Google Gmail est utilisé pour envoyer des mails depuis l'application.</p>

    <h2>Autres conditions requises</h2>
    <p>Un accès à Internet est requis pour utiliser le produit.</p>

    <h2>Services exclus</h2>
    <p>Ce produit n'apporte aucun service ou conseil dans la gestion de bien immobiliers. Son auteur ne pourra en aucun cas être pas tenu responsable de vos droits et devoirs en tant que propriétaire bailleur.</p>
    <p>Ce produit ne constitue pas un serveur Web. Le produit doit donc être hébergé par un hébergeur compétent.</p>
    <p>Ce produit n'héberge aucune donnée personnelle (cf. § Données personnelles).</p>

    <h1>Données personnelles</h1>
    <p>En tant qu'application simple, le logiciel ne stocke, n'utilise ni n'exploite en aucune manière vos données personnelles.</p>
    <p>Vos données personnelles sont principalement stockées sur le cloud Google (cf. § Où sont stockées mes données ?) selon les conditions d'utilisation que vous avez agréer avec Google et sur lesquelles l'auteur n'a aucune influence.</p>
    <p>Quelques données de configuration de l'application (données de configuration modifiées par l'utilisateur) sont stockées en local (<a href="https://developer.mozilla.org/fr/docs/Web/API/Window/localStorage">https://developer.mozilla.org/fr/docs/Web/API/Window/localStorage</a>) sur votre ordinateur. Ces données se sont pas exploitées par le produit à d'autres fins que pour configurer le produit. Ces données ne sont pas exploitables par des tierces applications.</p>

    <h2>Utilisation du compte Google</h2>
    <p>Lorsque vous vous connectez à l'application, l'application cherche à se connecter à votre compte Google.</p>
    <p>Conformément aux règles d'utilisation de l'API Google, une fenêtre (pop-up s'ouvre alors) vous demanant de confirmer votre connexion à votre compte Google. Le refus d'accès à votre compte Google empêchera toute utilisation de l'application.</p>
    <p>Une fois l'accès à votre compte Google autorisé, vous devez valider les services auxquels l'application pourra accéder. Il faut obligatoirement valider l'ensemble des services proposées et en particulier l'accès au Drive et au Mail sans quoi l'application ne pourra pas fonctionner.</p>

    <h2>Où sont stockées mes données ?</h2>
    <p>L'application utilise votre compte Google Drive pour créer, modifier ou supprimer des fichiers.</p>
    <p>Seuls vos fichiers sont concernés : vous ne stockerez pas les fichiers d'autres utilisateurs et aucun autre utilisateur ne pourra accéder à vos fichiers (sauf si vous utilisez la fonction de partage de fichiers mise en oeuvre par Google Drive mais que l'application ne gère pas).</p>
    <p>Seuls les fichiers présents dans le répertoire "easyloc" sont gérés. Aucun autre fichier hors de ce répertoire ne sera utilisé y compris dans le cadre de l'utilisation de l'application.</p>
    <p>Les fichiers gérés sont les suivants : </p>
    <ul>
        <li>/easyloc/data.json : base de données d'utilisation de l'application (ne pas modifier ou déplacer)</li>
        <li>/easyloc/documents/ : Répertoire contenant l'ensemble des pièces jointes dans l'application.</li>
    </ul>

    <h2>L'envoi de mails</h2>
    <p>L'application utilise votre compte GMail pour envoyer des mails en votre nom.</p>
    <p>L'application ne lit pas, ne modifie pas, ne supprime pas vos mails dans votre compte GMail.</p>
    <p>Les mails envoyés sont envoyés au titre du mail associé à votre compte Google comme si vous envoyez des mails depuis l'application GMail.</p>
    <p>Les mails envoyés ne sont pas archivés dans le répertoire 'Mail envoyé' de votre application GMail.</p>
    <p>Une fois qu'un mail est envoyé, il ne peut pas être annulé.</p>

    <h1>Librairies tierces utilisées</h1>
    Le service utilise les librairies suivantes :
    <ul>
        <li>Angular (<a href="https://angular.io/">https://angular.io/</a>)</li>
        <li>Angular Material (<a href="https://material.angular.io/">https://material.angular.io/</a>)</li>
        <li>Google API (<a href="https://cloud.google.com/apis/docs/overview">https://cloud.google.com/apis/docs/overview</a>)</li>
        <li>HTML2Canvas (<a href="https://html2canvas.hertzen.com/">https://html2canvas.hertzen.com/</a>)</li>
        <li>jsPDF (<a href="https://github.com/parallax/jsPDF">https://github.com/parallax/jsPDF</a>)</li>
        <li>eCharts (<a href="https://echarts.apache.org/">https://echarts.apache.org/</a>)</li>
    </ul>
</div>

