.filter-box{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter-box mat-form-field{
    flex: 5 1 200px;
}
.filter-box ::ng-deep .mat-mdc-form-field-subscript-wrapper{
    display: none;
}
 .filter-box button{
    border-radius: 0;
    flex: 1;
    height: auto;
    min-height: 48px;
 }
table{
    min-width:1050px;
    width: 100%;
}
table td:nth-child(2){
    width:130px;
    font-family: monospace;
    font-size: 0.9em;
    padding-left: 5px;
}
table td:nth-child(3),
table td:nth-child(4){
    min-width: 50px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table td:nth-child(5){
    min-width:270px;
}
table td:last-child{
    min-width:130px;
}
table .code-cell mat-icon{
    vertical-align: middle;
}
.success-alert .success-border{
    border-left-width: 5px;
    border-left-style: solid;
}