table mat-form-field{
    width:90%;
    margin-top:20px;
}
.filter-box{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter-box mat-form-field{
    flex: 5 1 40px;
}
::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.34375em;
 }
 .filter-box button{
    border-radius:0;
    flex: 1;
 }
.responsive{
    width: 100%;
    overflow: auto hidden;
}
table.list-table{
    width: 100%;
    min-width:1050px;
}
table.list-table td:nth-child(2){
    width:115px;
    font-family: monospace;
    font-size: 0.9em;
    padding-left: 5px;
}
table.list-table td:nth-child(2) mat-icon{
    margin-left: -10px;
}
table.list-table td:nth-child(3),
table.list-table td:nth-child(4){
    min-width: 50px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table.list-table td:last-child{
    width:120px;
}
.save-button{
    cursor:pointer;
    font-size: 200%;
    line-height: 2;
}