<h2 mat-dialog-title><mat-icon>file_upload</mat-icon> Upload de fichiers</h2>
<mat-dialog-content>
    <div class="container" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" [multiple]="data.multiple" (change)="fileBrowseHandler($event)" />
        <mat-icon>upload</mat-icon>
        <h3>Glisser et déposer vos fichiers ici</h3>
        <h3>OU</h3>
        <label for="fileDropRef">Choisir des fichiers</label>
    </div>
    <mat-list dense>
        <ng-container *ngFor="let file of files; let i = index">
            <mat-list-item>
                <mat-icon *ngIf="file.progressMode == 'indeterminate'" matListItemIcon>file_upload</mat-icon>
                <mat-icon *ngIf="file.progressMode == 'determinate'" color="primary" matListItemIcon>insert_drive_file</mat-icon>
                <mat-icon *ngIf="file.progressMode == 'buffer'" color="warn" matListItemIcon title="Impossible de charger le fichier, veuillez réessayer">warning</mat-icon>
                <h3 matListItemTitle>{{ file?.name }}</h3>
                <div matListItemLine>{{ codes[file?.code] }}</div>
                <div matListItemLine>{{ formatBytes(file?.size, 0) }}</div>
                <span matListItemMeta>
                    <button mat-icon-button [matMenuTriggerFor]="codeListe"><mat-icon>expand_more</mat-icon></button>
                    <mat-menu #codeListe="matMenu" yPosition="below" [overlapTrigger]="false">
                        <button *ngFor="let code of codes | keyvalue:compareCodes" mat-menu-item (click)="file.code = code.key">{{code.value}}</button>
                    </mat-menu>
                    <button mat-icon-button>
                        <mat-icon *ngIf="file.progressMode == 'determinate'" (click)="deleteFile(i)">delete</mat-icon>
                        <mat-icon *ngIf="file.progressMode == 'buffer'"  (click)="retry(i)">refresh</mat-icon>
                    </button>
                </span>
            </mat-list-item>
            <mat-list-item class="mat-list-progress">
                <mat-progress-bar [color]="file.progressColor" [mode]="file.progressMode" [value]="file.progressMode == 'determinate'?100:0"></mat-progress-bar>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button color="primary" (click)="beforeChoose()" mat-flat-button [mat-dialog-close]="files" [disabled]="files.length == 0">Choisir</button>
    <button color="warn" (click)="beforeCancel()" mat-flat-button>Annuler</button>
</mat-dialog-actions>