::ng-deep .mat-tab-body{
  padding:5px 10px!important
}
form{
  width: 100%;
  margin: 10px auto;
}
form > button {
  align-items: center;
}
.mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
table{
  width:100%;
}