<h2 mat-dialog-title *ngIf="data.piece"><mat-icon>edit_document</mat-icon> Modification d'une pièce</h2>
<h2 mat-dialog-title *ngIf="!data.piece"><mat-icon>attach_file_add</mat-icon> Ajout d'une pièce</h2>
<mat-dialog-content>
    <mat-card class="mat-elevation-z8">
        <mat-card-title><mat-icon color="warn">warning</mat-icon>Attention !</mat-card-title>
        <mat-card-content>La modification de l'identifiant et du nom de fichier est déconseillée. Cette modification ne doit être réalisée que pour corriger un écart entre le drive et Easyloc.</mat-card-content>
    </mat-card>
    <form [formGroup]="pieceForm">
        <mat-form-field appearance="fill">
            <mat-label>Identifiant</mat-label>
            <input matInput placeholder="Identifiant" id="id" formControlName="id" required>
            <mat-hint align="end">Identifiant unique sous le Drive</mat-hint>
            <mat-error *ngIf="id?.errors?.required">L'identifiant est obligatoire.</mat-error>
            <mat-error *ngIf="id?.errors?.pattern">L'identifiant doit être un composé de 33 lettres, chiffres, '-' ou '_'.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nom de fichier</mat-label>
            <input matInput placeholder="Nom de fichier" id="nom" formControlName="nom" required>
            <mat-hint align="end">Nom du fichier dans le drive</mat-hint>
            <mat-error *ngIf="nom?.errors?.required">Le nom de fichier est obligatoire.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description libre de la pièce" id="description" formControlName="description" required>
            <mat-hint align="end">Texte libre descriptif</mat-hint>
            <mat-error *ngIf="description?.errors?.required">La description est obligatoire.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select id="code" formControlName="code" required>
                <mat-option *ngFor="let code of codes | keyvalue:compareCodes" [value]="code.key">
                    {{code.value}}
                </mat-option>
            </mat-select>
            <mat-hint align="end">Type de document selon codification</mat-hint>
            <mat-error *ngIf="code?.errors?.required">Le type est obligatoire.</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button color="primary" mat-flat-button [mat-dialog-close]="pieceForm.value" [disabled]="!pieceForm.valid">Enregistrer</button>
    <button color="warn" mat-flat-button [mat-dialog-close]="false">Annuler</button>
</mat-dialog-actions>