<div class="grid-container" *ngIf="documentService.docIsLoaded">
  <mat-grid-list [cols]="nbCols | async" rowHeight="350px">
    <mat-grid-tile>
      <mat-card appearance="outlined" class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar><mat-icon color="primary">shortcut</mat-icon></div>
          <mat-card-title>Raccourcis</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content dashboard-button">
          <mat-action-list>
            <button mat-list-item (click)='addMouvement()'>
              <mat-icon matListItemIcon color='primary'>euro_symbol</mat-icon>
              <h1 matListItemTitle>Ajouter un mouvement</h1>
              <span matListItemMeta><mat-icon color='primary'>play_arrow</mat-icon></span>
            </button>
            <mat-divider></mat-divider>
            <button mat-list-item (click)='uploadPieces()'>
              <mat-icon matListItemIcon color='primary'>note_add</mat-icon>
              <h1 matListItemTitle>Ajouter des pièces</h1>
              <span matListItemMeta><mat-icon color='primary'>play_arrow</mat-icon></span>
            </button>
            <mat-divider></mat-divider>
            <button mat-list-item (click)='mail()'>
              <mat-icon matListItemIcon color='primary'>mail</mat-icon>
              <h1 matListItemTitle>Envoyer un mail</h1>
              <span matListItemMeta><mat-icon color='primary'>play_arrow</mat-icon></span>
            </button>
            <mat-divider></mat-divider>
            <button mat-list-item (click)='addCompteurValue()'>
              <mat-icon matListItemIcon color='primary'>pin</mat-icon>
              <h1 matListItemTitle>Ajouter un relevé de compteur</h1>
              <span matListItemMeta><mat-icon color='primary'>play_arrow</mat-icon></span>
            </button>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [rowspan]="(rowSpanStats?rowSpanStats:1)">
      <mat-card appearance="outlined" class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar><mat-icon color="accent">data_usage</mat-icon></div>
          <mat-card-title>Statistiques</mat-card-title>
          <button mat-icon-button class="more-button" (click)="rowSpanStats==1?(rowSpanStats=2):(rowSpanStats=1)">
            <mat-icon *ngIf="rowSpanStats==1">expand_more</mat-icon>
            <mat-icon *ngIf="rowSpanStats==2">expand_less</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <app-statistiques-details [simple]="true"></app-statistiques-details>
            <button class="full-width no-print" mat-flat-button color='primary' routerLink="/statistiques"><mat-icon>query_stats</mat-icon>Voir les statistiques détaillées</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]="(rowSpanWarn?rowSpanWarn:1)">
      <mat-card appearance="outlined" class="dashboard-card">
        <mat-card-header>
            <div mat-card-avatar><mat-icon color="warn">notifications</mat-icon></div>
            <mat-card-title>Evènements</mat-card-title>
            <span class="more-button">
              <button mat-icon-button (click)="rowSpanWarn==1?(rowSpanWarn=2):(rowSpanWarn=1)">
                <mat-icon *ngIf="rowSpanWarn==1">expand_more</mat-icon>
                <mat-icon *ngIf="rowSpanWarn==2">expand_less</mat-icon>
              </button>
            </span>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-events class="event-list"></app-events>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card appearance="outlined" class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar><mat-icon color="accent">data_usage</mat-icon></div>
          <mat-card-title>Résumé général</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-action-list>
            <mat-list-item routerLink="/biens">
                <mat-icon matListItemIcon color="accent">key</mat-icon>
                <h3 matListItemTitle>Biens</h3>
                <h1 matListItemMeta class="resume-value">{{documentService.document.biens.length}}</h1>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/locataires">
                <mat-icon matListItemIcon color="accent">people</mat-icon>
                <h3 matListItemTitle>Locataires</h3>
                <h1 matListItemMeta class="resume-value">{{documentService.document.locataires.length}}</h1>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/pieces">
                <mat-icon matListItemIcon color="accent">book</mat-icon>
                <h3 matListItemTitle>Pièces</h3>
                <h1 matListItemMeta class="resume-value">{{documentService.document.pieces.length}}</h1>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/bailleurs">
                <mat-icon matListItemIcon svgIcon="bailleur" color="accent"></mat-icon>
                <h3 matListItemTitle>Bailleurs</h3>
                <h1 matListItemMeta class="resume-value">{{documentService.document.bailleurs.length}}</h1>
            </mat-list-item>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>
</div>