.grid-container {
  margin: 20px;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.dashboard-button button,
.full-width{
  width: 100%;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.mat-mdc-card-content{
  overflow: hidden;
}
/* TOFIX with angular material */
.mdc-list-item__end{
  pointer-events:inherit!important;
}
/* TOFIX with angular material */
.resume-value{
  font-size: 2em;
  font-weight: bold;
  margin-top: auto!important;
}
.event-list{
  height: 100%;
  overflow-y: auto;
  display: block;
}