.global-box{
    width:90%;
    max-width:600px;
    margin:25px auto;
}
.bien-card,
.locataire-card,
.bailleur-card{
    margin:0;
    cursor:pointer;
    box-shadow: none;
    border:2px solid #CCC;
    border-radius: 5px;
}
.card-link{
    width:2px;
    height: 15px;
    background: #CCC;
    margin:0 auto;
}
.bien-avatar-letter,
.locataire-avatar-letter,
.bailleur-avatar-letter{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    line-height: 40px;
}
.mdc-list-item--with-one-line{
    height:48px!important;
}
.mdc-list-item__end{
    font-size: 1em;
    pointer-events:inherit!important;
}
mat-card-actions {
    position: absolute;
    right: 0;
    top: 5px;
    margin:0;
    padding:0;
}
mat-divider{
    margin-top: 20px;
}