<mat-toolbar color="primary" class="primary-darker sticky-toolbar no-print">
    <mat-icon>apartment</mat-icon>
    <span>Vue générale des biens gérés</span>
    <span class="flex"></span>
    <mat-button-toggle-group>
        <mat-button-toggle value="nom" (click)="displayOrder='nom'" [checked]="displayOrder=='nom'">
            <mat-icon>sort_by_alpha</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="dateAchat" (click)="displayOrder='dateAchat'" [checked]="displayOrder=='dateAchat'">
            <mat-icon>calendar_month</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>

<div class="global-box" *ngFor="let bien of documentService.document.biens | orderBy:displayOrder; let i = index">
    <ng-container *ngVar="getBail(bien) as bail">
        <mat-card appearance="outlined" class="bailleur-card" *ngIf="visibility?visibility[i]:false" [ngStyle]="{'border-color': colors[i]}" (click)="toggle(i)">
            <mat-card-header>
                <div mat-card-avatar class="bailleur-avatar-letter" [ngStyle]="{'background': colors[i]}">{{bien.proprietaire.nom[0]}}</div>
                <mat-card-title>{{bien.proprietaire.nom}}</mat-card-title>
                <mat-card-subtitle>Bailleur {{bien.proprietaire.type}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListItemIcon>location_on</mat-icon>
                        <div matListItemTitle>Adresse</div>
                        <span matListItemLine [innerHTML]="bien.proprietaire.adresseHTML"></span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>phone</mat-icon>
                        <div matListItemTitle>Téléphone</div>
                        <span matListItemMeta>{{bien.proprietaire.telephone}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>mail</mat-icon>
                        <div matListItemTitle>E-mail</div>
                        <span matListItemMeta>{{bien.proprietaire.mail}}</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions class="no-print">
                <button mat-icon-button color="accent" routerLink="/bailleur/{{bien.proprietaire.id}}"><mat-icon>edit</mat-icon></button>
            </mat-card-actions>
        </mat-card>
        <div class="card-link" *ngIf="visibility?visibility[i]:false" [ngStyle]="{'background': colors[i]}">&nbsp;</div>
        <mat-card appearance="outlined" class="bien-card" [ngStyle]="{'border-color': colors[i]}" (click)="toggle(i)">
            <mat-card-header>
                <div mat-card-avatar class="bien-avatar-letter" [ngStyle]="{'background': colors[i]}">{{bien.nom[0]}}</div>
                <mat-card-title>{{bien.nom}}</mat-card-title>
                <mat-card-subtitle>{{bienType[bien.type]}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListItemIcon>location_on</mat-icon>
                        <div matListItemTitle>Adresse</div>
                        <span matListItemLine [innerHTML]="bien.adresseHTML"></span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>savings</mat-icon>
                        <div matListItemTitle>Rentabilité sur l'année</div>
                        <span matListItemMeta>{{(bien.getYearRentability(documentService.document.mouvements) * 100)| number: '1.2-2'}} %</span>
                    </mat-list-item>
                    <mat-list-item *ngVar="bien.getInOutMontant(documentService.document.mouvements) as bienInOut">
                        <mat-icon matListItemIcon color="warn">south_east</mat-icon>
                        <div matListItemTitle>Total des sorties</div>
                        <span matListItemMeta>{{bienInOut.total.out| currency:'EUR':'symbol':'1.0-0'}}</span>
                    </mat-list-item>
                    <mat-list-item *ngVar="bien.getInOutMontant(documentService.document.mouvements) as bienInOut">
                        <mat-icon matListItemIcon color="primary">north_east</mat-icon>
                        <div matListItemTitle>Total des entrées</div>
                        <span matListItemMeta>{{bienInOut.total.in| currency:'EUR':'symbol':'1.0-0'}}</span>
                    </mat-list-item>
                    <mat-list-item *ngVar="documentService.getUnrentBien(bien) as unrentBien">
                        <mat-icon matListItemIcon>person</mat-icon>
                        <div matListItemTitle>Etat de location actuelle</div>
                        <span matListItemMeta *ngIf="!unrentBien">Loué</span>
                        <span matListItemMeta *ngIf="unrentBien && unrentBien.nbJours < 10000">Non loué depuis {{unrentBien.nbJours}} jours</span>
                        <span matListItemMeta *ngIf="unrentBien && unrentBien.nbJours == 10000">Jamais loué</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="bien.surface">
                        <mat-icon matListItemIcon>expand</mat-icon>
                        <div matListItemTitle>Surface totale annoncée</div>
                        <span matListItemMeta>{{bien.surface}} m²</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="bien.nbPieces">
                        <mat-icon matListItemIcon>auto_awesome_mosaic</mat-icon>
                        <div matListItemTitle>Nombre de pièces</div>
                        <span matListItemMeta>{{bien.nbPieces}} pièces</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions class="no-print">
                <button mat-icon-button color="accent" routerLink="/fiche/bien/{{bien.id}}"><mat-icon>visibility</mat-icon></button>
                <button mat-icon-button color="accent" routerLink="/bien/{{bien.id}}"><mat-icon>edit</mat-icon></button>
            </mat-card-actions>
        </mat-card>
        <div class="card-link" *ngIf="visibility?visibility[i]:false" [ngStyle]="{'background': colors[i]}">&nbsp;</div>
        <mat-card appearance="outlined" class="locataire-card" *ngIf="bail && visibility?visibility[i]:false" [ngStyle]="{'border-color': colors[i]}" (click)="toggle(i)">
            <mat-card-header>
                <div mat-card-avatar class="locataire-avatar-letter" [ngStyle]="{'background': colors[i]}">{{bail.locataire.nom[0]}}</div>
                <mat-card-title>{{bail.locataire.nom}}</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListItemIcon>mail</mat-icon>
                        <div matListItemTitle>E-mail</div>
                        <span matListItemMeta>{{bail.locataire.mail}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>phone</mat-icon>
                        <div matListItemTitle>Téléphone</div>
                        <span matListItemMeta>{{bail.locataire.telephone}}</span>
                    </mat-list-item>
                    <mat-list-item *ngVar="documentService.getUnpaiedLoyer(bail) as unpaiedLoyer">
                        <mat-icon *ngIf="unpaiedLoyer.length>0" matListItemIcon color="warn">error</mat-icon>
                        <mat-icon *ngIf="unpaiedLoyer.length==0" matListItemIcon color="accent">done</mat-icon>
                        <div matListItemTitle>Statut de paiement</div>
                        <span matListItemMeta *ngIf="unpaiedLoyer.length>0">{{unpaiedLoyer.length}} loyer(s) impayé(s)</span>
                        <span matListItemMeta *ngIf="unpaiedLoyer.length==0">Aucun impayé</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>euro_symbol</mat-icon>
                        <div matListItemTitle>Loyer et charges</div>
                        <span matListItemMeta>{{(bail.charges+bail.loyer)| currency:'EUR':'symbol':'1.2-2'}}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>today</mat-icon>
                        <div matListItemTitle>Date de paiement</div>
                        <span matListItemMeta>{{bail.paiementDate| date:'d':'fr-FR' }} du mois</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>login</mat-icon>
                        <div matListItemTitle>Début du bail</div>
                        <span matListItemMeta>{{bail.dateDebut | date:'shortDate':'fr-FR'}}</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions class="no-print">
                <button mat-icon-button color="accent" routerLink="/fiche/bail/{{bail.id}}"><mat-icon>visibility</mat-icon></button>
                <button mat-icon-button color="accent" routerLink="/bail/{{bail.id}}"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="accent" (click)="contact(bail.locataire, $event)"><mat-icon>mail</mat-icon></button>
            </mat-card-actions>
        </mat-card>
        <mat-card appearance="outlined" class="locataire-card" *ngIf="!bail && visibility?visibility[i]:false" [ngStyle]="{'border-color': colors[i]}" (click)="toggle(i)">
            <mat-card-header>
                <div mat-card-avatar class="locataire-avatar-letter" [ngStyle]="{'background': colors[i]}">!</div>
                <mat-card-title>Non Loué</mat-card-title>
                <mat-card-subtitle>Ce bien n'est pas loué...</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-divider *ngIf="i < documentService.document.biens.length-1"></mat-divider>
    </ng-container>
</div>
