html, body { 
    min-height: 100%;
}
body { 
    margin: 0; 
    font-family: "Raleway"!important; 
    background-color: #fafafa;
}
body.dark-theme {
    background-color: #303030;
}
@media print{    
    body {
        background-color: #fff;
    }
}
.form-button{
    margin:10px 0;
    text-align: center;
}
.dark-theme .mat-list-item-disabled {
    background: #3C3C3C!important;
}
.mat-mdc-row:hover{
    background:#DDD;
}
.dark-theme .mat-mdc-row:hover{
    background:#555;
}
mat-toolbar.sticky-toolbar{
    position: sticky;
    top: 0;
    z-index:2;
}
mat-toolbar.sticky-toolbar mat-icon{
    margin-right:5px;
}
th.mat-mdc-table-sticky{
    height: 64px;
}
tr.mat-mdc-footer-row {
    font-weight: bold;
}
.flex{
    flex:1;
}
.full-width-table {
    width: 100%;
}
.filter-form{
    margin:15px auto 0 auto;
    width:95%;
    display: block !important;
}
.filter-form-condensed{
    width:100%;
}
.filter-form mat-icon:last-child,
.filter-form-condensed mat-icon:last-child{
    cursor:pointer;
}
.mat-elevation-z8{
    margin-bottom:20px;
}
.centered-cell{
    text-align:center;
}
.empty-cell mat-icon{
    color: #ccc;
    font-size: 40px;
    width: 40px;
    height: 40px;
    display: block;
    margin: 5px auto;
}
h1 mat-icon{
    vertical-align: middle;
    margin-right: 5px;
}
.btn-icon { 
    &:hover {
        path {
            fill: rgba(#00ffff, 1); 
        }
    }
}
.tab-label-icon{
    margin-right: 5px;
    vertical-align: middle;
}
@media (max-width: 1200px) {
    .tab-label-text{
        display:none;
    }
}
@media (max-width: 600px) {
    .mdc-tab{
        min-width:60px!important;
    }
}
mat-tab-body.mat-mdc-tab-body{
    padding:0!important;
}
.mat-mdc-tab-body-content {
    overflow-y: hidden!important;
}
.just-print, .just-print *{
    display: none !important;
}
@media print{    
    .no-print, .no-print *{
        display: none !important;
    }
    .just-print, .just-print *{
        display: flex !important;
    }
}