@use '@angular/material' as mat;
@include mat.core();

$custom-typography: mat.define-typography-config(
    /*$font-family: 'Raleway'*/
);

$my-primary-light: mat.define-palette(mat.$green-palette, A400, A200, A700);
$my-accent-light: mat.define-palette(mat.$light-blue-palette);
$my-warn-light: mat.define-palette(mat.$red-palette);

$light-app-theme: mat.define-light-theme((
        color: (
                primary: $my-primary-light,
                accent: $my-accent-light,
                warn: $my-warn-light
        ),
        typography: $custom-typography,
        density: 0
));

$my-primary-dark: mat.define-palette(mat.$light-blue-palette, A400, A200, A700);
$my-accent-dark: mat.define-palette(mat.$teal-palette);
$my-warn-dark: mat.define-palette(mat.$red-palette);
$dark-app-theme:   mat.define-dark-theme((
        color: (
            primary: $my-primary-dark,
            accent: $my-accent-dark,
            warn: $my-warn-dark
        ),
        typography: $custom-typography,
        density: 0
));

@include mat.core-theme($light-app-theme);
@include mat.all-component-themes($light-app-theme);

.dark-theme {
    @include mat.all-component-colors($dark-app-theme);
}

$primary: map-get($dark-app-theme, primary);
$accent: map-get($dark-app-theme, accent);
$warn: map-get($dark-app-theme, warn);

.dark-theme .primary-lighter {
    background: mat.get-color-from-palette($primary, A200)!important;
}
.dark-theme .primary-darker {
    background: mat.get-color-from-palette($primary, A700)!important;
}

.dark-theme a {
    color: mat.get-color-from-palette($accent, 100);
    text-decoration: none;
}

$primary: map-get($light-app-theme, primary);
$accent: map-get($light-app-theme, accent);
$warn: map-get($light-app-theme, warn);

.primary-lighter {
    background: mat.get-color-from-palette($primary, A200)!important;
}
.primary-darker {
    background: mat.get-color-from-palette($primary, A700)!important;
}
a {
    color: mat.get-color-from-palette($accent, 700);
    text-decoration: none;
}
.mat-nav-accent{
    background: mat.get-color-from-palette($primary, A400)!important;
}
.success-alert{
    background: mat.get-color-from-palette($primary, A100)!important;
    color: mat.get-color-from-palette($primary, A700)!important;
}
.error-alert{
    background: mat.get-color-from-palette($warn, A100)!important;
    color: mat.get-color-from-palette($warn, A700)!important;
}
.success-border{
    border-color: mat.get-color-from-palette($primary, A700);
}
    