<div class="pieces-list" *ngIf="container">
    <app-piece-liste [embedded]="true" [defaultPieces]="pieces" [piecesComplementaires]="piecesComplementaires" (selected)="onSelectedRemove($event)"></app-piece-liste>
    <button type="button" mat-flat-button color="warn" [disabled]="piecesToRemove.length == 0" (click)="removePieces()">Dissocier <mat-icon>link_off</mat-icon></button>
    <button type="button" mat-flat-button color="primary" (click)="addPieces()"><mat-icon>add_link</mat-icon> Associer</button>
    <button type="button" mat-flat-button color="primary" (click)="uploadPieces()"><mat-icon>note_add</mat-icon> Ajouter</button>
</div>

<div class="pieces-missed" *ngIf="eventService.checkPiecesObligatoires(container).length>0">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                    <mat-icon color="warn">warning</mat-icon>Pièces manquantes :
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span class="piece-missed">
                <span *ngFor="let missedPiece of eventService.checkPiecesObligatoires(container)">{{pieceCode[missedPiece.split("|")[0]]}} 
                    <span *ngIf="missedPiece.split('|')[1]">&nbsp;ou {{pieceCode[missedPiece.split("|")[1]]}}</span>
                </span>
            </span>
        </mat-card-content>
    </mat-card>
</div>


    
    