::ng-deep .mat-mdc-tab-body{
    padding:5px 10px!important
}
h3{
    margin: 20px 0 0 20px;
}
h3 button {
    vertical-align: middle;
}
form{
    width: 100%;
    margin: 10px auto;
}
form > button {
    align-items: center;
}
.form-group{
    border-left: 1px solid #999;
    margin-left: 35px;
    padding-top: 10px;
}
.form-group > .form-group-bien-lie {
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bien-lie-error{
    font-size: 14px;
    display:inline-block;
    margin: 10px;
    top: -10px;
    position: relative;
}
.bien-lie-error mat-icon{
    vertical-align: middle;
}

.form-group > button {
    margin: 10px;
}
@media only screen and (max-width: 800px) {
    .mat-mdc-form-field {
        width: 95%!important;
        margin: 5px 10px 0 10px;
    }
}
.mat-mdc-form-field {
    width: 47%;
    margin: 5px 10px 0 10px;
    vertical-align: top;
}
.form-group > .form-group-bien-lie > .mat-mdc-form-field {
    width: auto!important;
    flex:1;
    flex-basis: 300px;
}

textarea{
    min-height: 80px;
    resize: none!important;
}