<mat-toolbar color="primary" class="primary-darker sticky-toolbar">
    <button mat-icon-button (click)="goBack()"><mat-icon>chevron_left</mat-icon></button>
    <mat-icon>apartment</mat-icon>
    <span *ngIf="bien">Modification d'un bien</span>
    <span *ngIf="!bien">Ajout d'un nouveau bien</span>
    <span class="flex"></span>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs mat-align-tabs="start">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-label-icon">info</mat-icon> Détails
        </ng-template>
        <form [formGroup]="bienForm" (ngSubmit)="save()">
            <h3><button mat-mini-fab color="accent"><mat-icon>info</mat-icon></button> Généralités</h3>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="Nom" id="nom" formControlName="nom" required>
                    <mat-hint align="end">Nom du bien</mat-hint>
                    <mat-error *ngIf="nom?.errors?.required">Le nom est obligatoire.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select id="type" formControlName="type" required>
                        <mat-option *ngFor="let bienType of bienTypes | keyvalue" [value]="bienType.key">
                            {{bienType.value}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">Type de bien</mat-hint>
                    <mat-error *ngIf="type?.errors?.required">Le type est obligatoire.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Adresse</mat-label>
                    <textarea matInput id="adresse" formControlName="adresse"></textarea>
                    <mat-hint align="end">Adresse où se situe le bien</mat-hint>
                    <mat-error *ngIf="adresse?.errors?.required">L'adresse est obligatoire.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput id="description" formControlName="description"></textarea>
                    <mat-hint align="end">Description détaillée</mat-hint>
                    <mat-error *ngIf="description?.errors?.required">La description est obligatoire.</mat-error>
                </mat-form-field>
            </div>
            <h3><button mat-mini-fab color="accent"><mat-icon>work</mat-icon></button> Gestion</h3>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Propriétaire</mat-label>
                    <mat-select id="proprietaire" formControlName="proprietaire" required>
                        <mat-option *ngFor="let bailleur of documentService.document.bailleurs" [value]="bailleur.id">
                            {{bailleur.nom}}
                        </mat-option>
                    </mat-select>
                    <mat-icon *ngIf="bienForm.value.proprietaire" matSuffix color="accent" [routerLink]="'/bailleur/'+bienForm.value.proprietaire">visibility</mat-icon>
                    <mat-hint align="end">Propriétaire du bien (bailleur)</mat-hint>
                    <mat-error *ngIf="proprietaire?.errors?.required">Le proprietaire est obligatoire.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Syndic</mat-label>
                    <input matInput placeholder="Syndic" id="syndic" formControlName="syndic">
                    <mat-hint align="end">Syndic de gestion de la copropriété</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Site web Syndic</mat-label>
                    <input matInput placeholder="Site web du syndic (http://...)" id="syndicUrl" formControlName="syndicUrl">
                    <mat-hint align="end">Site web du syndic de gestion de la copropriété</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Date assurance</mat-label>
                    <input matInput placeholder="Date d'assurance" id="dateAssurance" formControlName="dateAssurance" [matDatepicker]="picker3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-hint align="end">Date d'effet de l'assurance (à la souscription). Ne correspond pas à la date de paiement.</mat-hint>
                    <mat-datepicker #picker3 startView="multi-year"></mat-datepicker>
                </mat-form-field>
            </div>
            <h3><button mat-mini-fab color="accent"><mat-icon>cabin</mat-icon></button> Caractéristiques</h3>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Construction</mat-label>
                    <input matInput placeholder="Date de construction" id="dateFabrication" formControlName="dateFabrication" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-hint align="end">Date de construction du bien</mat-hint>
                    <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Achat</mat-label>
                    <input matInput placeholder="Date d'achat" id="dateAchat" formControlName="dateAchat" required [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-hint align="end">Date d'achat du bien</mat-hint>
                    <mat-error *ngIf="dateAchat?.errors?.required">La date d'achat est obligatoire.</mat-error>
                    <mat-datepicker #picker2 startView="multi-year"></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Prix d'achat</mat-label>
                    <input matInput placeholder="Prix d'achat" id="prixAchat" formControlName="prixAchat" required>
                    <mat-hint align="end">Prix d'achat du bien (pour rentabilité)</mat-hint>
                    <mat-error *ngIf="prixAchat?.errors?.required">Le prix d'achat est obligatoire.</mat-error>
                    <mat-error *ngIf="prixAchat?.errors?.pattern">Le prix d'achat doit être un nombre.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Surface</mat-label>
                    <input matInput placeholder="Surface (en m²)" id="surface" formControlName="surface" required>
                    <mat-hint align="end">Surface du bien</mat-hint>
                    <mat-error *ngIf="surface?.errors?.required">La surface est obligatoire.</mat-error>
                    <mat-error *ngIf="surface?.errors?.pattern">La surface doit être un nombre.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Pièces</mat-label>
                    <input type="number" matInput placeholder="Nombre de pièces" id="nbPieces" formControlName="nbPieces">
                    <mat-hint align="end">Nombre de pièces du bien</mat-hint>
                    <mat-error *ngIf="nbPieces?.errors?.pattern">Le nombre de pièces doit être un nombre.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Parking</mat-label>
                    <textarea matInput id="parking" formControlName="parking"></textarea>
                    <mat-hint align="end">Place de parking adjointe au bien</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Commentaires</mat-label>
                    <textarea matInput id="commentaire" formControlName="commentaire"></textarea>
                    <mat-hint align="end">Commentaires libres pour information</mat-hint>
                </mat-form-field>
            </div>
            <div class="form-button">
                <button mat-flat-button color="primary" type="submit" [disabled]="!bienForm.valid">Enregistrer</button>
            </div>
        </form>
    </mat-tab>
    <mat-tab [disabled]="!bien">
        <ng-template mat-tab-label>
            <mat-icon class="tab-label-icon">book</mat-icon> Pièces jointes
        </ng-template>
        <app-pieces-jointes-details *ngIf="bien" [container]="bien"></app-pieces-jointes-details>
    </mat-tab>
    <mat-tab [disabled]="!bien">
            <ng-template mat-tab-label>
                <mat-icon class="tab-label-icon">query_stats</mat-icon> Statistiques
            </ng-template>
            <app-statistiques-details *ngIf="bien" [defaultBien]="bien"></app-statistiques-details>
        </mat-tab>
    <mat-tab [disabled]="!bien">
        <ng-template mat-tab-label>
            <mat-icon class="tab-label-icon">euro_symbol</mat-icon> Mouvements
        </ng-template>
        <app-mouvement-liste *ngIf="bien" [embedded]="true" [defaultBien]="bien"></app-mouvement-liste>
    </mat-tab>
    <mat-tab [disabled]="!bien">
        <ng-template mat-tab-label>
            <mat-icon class="tab-label-icon">account_balance</mat-icon> Impôts
        </ng-template>
        <app-statistiques-impots *ngIf="bien" [defaultBien]="bien"></app-statistiques-impots>
    </mat-tab>

    
</mat-tab-group>